<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>927978144846-8f77qrnp816f7f5gsv4907ce0fhlgcrm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.927978144846-8f77qrnp816f7f5gsv4907ce0fhlgcrm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>927978144846-g3e607h6jqbst0ldt20j9pakr956lca1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDih_DNnysr2yl19P5YrJr9CMwMlZyqN4U</string>
	<key>GCM_SENDER_ID</key>
	<string>927978144846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shinefy</string>
	<key>PROJECT_ID</key>
	<string>shinefy-64827</string>
	<key>STORAGE_BUCKET</key>
	<string>shinefy-64827.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927978144846:ios:da254c7b751828ca08ef1f</string>
</dict>
</plist>